langchain
python-dotenv
ipykernel
langchain_community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-openai
chromadb
sentence-transformers
langchain-huggingface
huggingface_hub
faiss-cpu
langchain-chroma
langchain_ollama
streamlit
langchain-groq
fastapi
langserve
sse_starlette
duckduckgo-search
psycopg2
validators==0.28.1
pytube
unstructured
youtube-transcript-api
numexpr
crewai
crewai-tools
